{% extends 'layout.html' %} {% block title %} Posts {% endblock %}
{% block content %}
<section>
    <h1>Communities</h1>

    {% for communities in communities %}
    <article class="Communities">
        <h2><a href="{%  url 'communities:page' slug=communities.slug %}"> {{ communities.name }} </a></h2>
        <p>{{ communities.description }}</p>
        <p>{{ communities.slug }}</p>
        <p>{{ communities.date }}</p>
        <p>{{ communities.author }}</p>
        
    </article>
    {% endfor %}
</section>
{% endblock %}




